.caixa { 
	box-shadow:15px 15px 30px rgba(0, 0, 0, 0.25);	
	width:759px;
	height:650px;
	position:absolute;
	left:278px;
	top:100px;
}
.sair { 	
	width:25px;
	height:25px;
	position:absolute;
	left:493px;
	top:55px;
	background-color: white;
	border: white;	
}
.usuario { 
	color:rgba(78.00000295042992, 49.00000087916851, 35.00000171363354, 1);
	width:673px;
	height:77px;
	position:absolute;
	left:30px;
	top:30px;
	font-family:Niramit;
	text-align:justify;
	font-size:30px;
	letter-spacing:0;
}
.subtitulo{
    color:rgba(78.00000295042992, 49.00000087916851, 35.00000171363354, 1);
	width:673px;
	height:77px;
	position:absolute;
	left:30px;
	top:90px;
    font-family:Niramit;
	text-align:justify;
	font-size:20px;
	letter-spacing:0;
}
.formulario{
    margin-left: 435px;
    margin-top: 320px;
}
.formulario p{
    font-family:Niramit;
	font-size:16px;
	color:rgba(232, 216, 183, 0.79);
}
.campos {
    width: 400px;
    margin-top: -10px;
    left: 250px;
    font-family:Niramit;
	text-align:left;
	font-size:14px;
    color:#4e3123;
    background-color: white;	
	border-top: none white;
	border-left: none white;
	border-right: none white;	
	border-color: rgba(253.0000001192093, 176.00000470876694, 24.000000469386578, 1);
}
.campos::placeholder{
	font-family:Niramit;
	text-align:left;	
	font-size:14px;
	color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);	
}
.botao {
	width: 366px;
	height: 212px;
	position: absolute;
	align-items: center;
	top: 150px;
	text-align: center;

}

.botao-proximo {
	color: rgba(78.00000295042992, 49.00000087916851, 35.00000171363354, 1);
	width: 100px;
	height: 35px;
	position: absolute;
	left: 600px;
	top: 550px;
	font-family: Hind Siliguri;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
	box-shadow: 8px 8px 30px rgba(255, 250, 250);
	background-color: rgba(232, 216, 183, 0.79);
	border: 1px solid rgba(253.0000001192093, 176.00000470876694, 24.000000469386578, 1);
	border-radius: 12px;
}